# Ignorowanie folderów i plików związanych z kompilacją w .NET
bin/
obj/

# Ignorowanie plików konfiguracyjnych wygenerowanych przez .NET
.vs/
.vscode/
.idea/

# Ignorowanie plików i folderów specyficznych dla systemów operacyjnych
Thumbs.db
.DS_Store

# Ignorowanie plików środowiskowych
appsettings.json
appsettings.*.json

# Ignorowanie plików zawierających dane binarne
*.dll
*.exe
*.pdb
*.cache
*.json

# Ignorowanie folderów związanych z lokalnymi ustawieniami .NET
**/bin/
**/obj/
